<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="M11105501_2Tier.Properties.Settings.M11105501ConnectionString"
            connectionString="Data Source=140.118.105.174,14330;Initial Catalog=M11105501;Persist Security Info=True;User ID=M11105501;Password=3519164"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>